@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
$font: 'Roboto', sans-serif;
$font-color: #ffffff;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    border: 1px solid darkcyan;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrapper {
    min-width: 370px;
    min-height: 100%;
    border: 1px solid hotpink;
    font-family: $font;
    color: $font-color;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 10% repeat(2, 1fr) auto auto 1% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

hr {
    border: 2px solid white;
    width: 100%;
    margin-bottom: 10px;
    grid-area: 6 / 1 / 7 / 4;
}

@import "_weather.scss";
@import "_clock.scss";
@import "_login.scss";
@import "_todos.scss";
@import "_quotes.scss";