@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  border: 1px solid darkcyan;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.wrapper {
  min-width: 370px;
  min-height: 100%;
  border: 1px solid hotpink;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% repeat(4, auto) 1% auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid white;
  width: 100%;
  margin-bottom: 10px;
  grid-area: 6/1/7/4;
}

@media (min-width: 560px) {
  .wrapper {
    min-width: 560px;
    grid-template-columns: 20% 1fr 20%;
  }
}
.weather {
  border: 1px solid yellowgreen;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  grid-area: 1/1/2/4;
  padding-right: 4%;
  font-size: 1rem;
}

@media (min-width: 560px) {
  .weather {
    font-size: 1.2rem;
  }
}
.clock {
  border: 1px solid palegoldenrod;
  padding-top: 20%;
  font-weight: 700;
  font-size: 40px;
  grid-area: 2/2/3/3;
}

.login,
.greeting {
  border: 1px solid rgb(160, 129, 160);
  grid-area: 3/2/4/3;
}
.login__input,
.greeting__input {
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  color: #ffffff;
}
.login__input::placeholder,
.greeting__input::placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.todos {
  border: 1px solid teal;
  grid-area: 4/2/5/3;
}
.todos__input {
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  color: #ffffff;
}
.todos__input::placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}
.todos__list {
  list-style: none;
  font-size: 24px;
  border: 1px solid palevioletred;
  grid-area: 5/2/6/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos__list li {
  border: 1px solid rgb(126, 112, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.todos__list button {
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: transparent;
}
.todos__list button:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.728);
  border-radius: 50px;
}

.quote {
  border: 1px solid orange;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  text-shadow: 1px 1px 2px gray;
  grid-area: 7/2/8/3;
}
.quote__author {
  margin: 8px 0px;
  color: rgba(255, 255, 255, 0.665);
  font-style: italic;
}

@media (min-width: 560px) {
  .quote {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */